<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>20141027PhotoParser</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->

        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->



        <script type="text/template" data-template-name="base">
            <header><button>Logout</button></header>
            <div class="container"></div>
        </script>

        <script type="text/template" data-template-name="headerContent">
            <% if (Parse.User.current()) { %>
                <button class="addPhoto">Post a new photo!</button>
            <% } %>
            <a href="#/"><h1>PhotoParser</h1></a>
            <% if(!Parse.User.current()) { %>
            <button class="logIn">LogIn</button>
            <% } else { %>
            <button class="logOut">LogOut</button>
            <% } %>
        </script>


        <script type="text/template" data-template-name="otherUser/index">

        <button class="follow">Follow this user</button>
        # of Posts || # of Followers || # Following

            <ul>
              <% _.each(posts, function(post){ %>
                <li>
                <div>
                <h3>
                 <%= post.title %>
                 </h3>

                 <a href="">

                 <% if(post.image) { %>
                  <img style="width: 200px;" src="<%= post.image %>">
                <% } %>

                </a>

                </div>
                </li>
              <% }); %>
            </ul>

        </script>


        <script type="text/template" data-template-name="posts/index">

            <ul>
                <li>
                <button class="addPhoto">Post a new photo!</button>
                </li>
              <% _.each(posts, function(post){ %>
                <li>
                <div>
                <h3>
                 <%= post.title %>
                 </h3>

                 <a href="">

                 <% if(post.image) { %>
                  <img style="width: 200px;" src="<%= post.image %>">
                <% } %>

                </a>

                </div>
                </li>
              <% }); %>
            </ul>

        </script>


        <script type="text/template" data-template-name="posts/create">
            U WANT TO MAKE?
            <form>
                <input type="file" class="image">
                <% if(model.image) { %>
                <input type="text" placeholder="URL" class="url">
                <input type="text" placeholder="Title" class="title">
                <% } %>

                <input type="submit">
            </form>
              
            <% if(model.image) { %>
            <img style="width: 200px;" src="<%= model.image %>">
            <% } %>

        </script>

        <script type="text/template" data-template-name="login">
            <h1>LogIn to PhotoParser.</h1>
            <form>
            <p><input class="username-input" type="text" placeholder="Username"></p>
            <p><input class="email-input" type="text" placeholder="Email"></p>
            <p><input class="password-input" type="password" placeholder="Password"></p>
            <input type="submit">
            <p><a href="#register">New to PhotoParser? Create an account. (It&rsquo;s painless we promise.)</a></p>
            </form>
        </script>

        <script type="text/template" data-template-name="register">
            <h1>Welcome to PhotoParser.</h1>
            <form>
            <p><input class="username-input" type="text" placeholder="Username"></p>
            <p><input class="email-input" type="text" placeholder="Email"></p>
            <p><input class="password-input" type="password" placeholder="Password"></p>
            <input type="submit">
            </form>
        </script>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="//www.parsecdn.com/js/parse-1.3.1.min.js"></script>
        <!-- endbower -->
        <!-- endbuild -->


        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
